@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    max-width: 1800px;
    margin: 0, auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #242430;
    font-family: 'Poppins', sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.swiper-slide{
    padding: 0 80px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev::after{
    font-size: 25px;
}

.swiper-button-next::after{
    font-size: 25px;
}

.swiper-button-prev{
    color: #ffffff;
}

.swiper-button-next{
    color: #ffffff;
}

.swiper-pagination-bullet{
    background-color: #747474;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: #7270ec;
}

.menu-container{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    font-size: 25px;
    color: #727672;
    text-transform: uppercase;
    font-weight: 800;
}

.menu-container .nav ul li{
    position: relative;
    float: left;
}

.menu-container .nav ul li a{
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu-container .nav ul li a:hover{
    color: #7270ec;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu-container label{
    cursor: pointer;
    display: none;
}

.sub-menu{
    position: relative;
}

.sub-menu #carrito{
    display: none;
}

.sub-menu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4e4b5076;
    padding: 20px;
    min-width: 400px;
}

table{
    width: 100%;
}

th, td{
    color: #ffffff;
}

.borrar{
    background-color: #7270ec;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
}

.header-content{
    padding: 200px 0 100px 0;
}

.header-info{
    display: flex;
}

.header-txt{
    width: 50%;
}

.header-txt h1{
    font-size: 50px;
    color: #ffffff;
    text-transform: capitalize;
}

.header-img{
    width: 50%;
    text-align: right;
}

.header-img img{
    width: 500px;
}

.prices{
    display: flex;
    margin: 20px 0;
}

.prices-1{
    font-size: 30px;
    color: #747b8f;
    text-decoration-line: line-through;
    margin-right: 25px;
}

.prices-2{
    font-size: 30px;
    color: #7270ec !important;
}

.btn-1{
    display: inline-block;
    background-color: #7270ec;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 25px;
    margin-top:  40px;
}

.btn-1:hover{
    background-color: #6c69f9;
}

hr{
    border: 1px solid #7a7b8f16;
}

.promos-container{
    padding: 50px 0;
    text-align: center;
}

.promos-container h2{
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 35px;
}

.categorias{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.categoria{
    display: flex;
    align-items: center;
    padding: 35px;
}

.categoria img{
    width: 150px;
}

.categoria-1{
    width: 50%;
}

.categoria-1 h3{
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
}

.categoria-1 p{
    color: #747b8f;
    font-size: 18px;
}

.categoria-img{
    width: 50%;
}

.productos-container{
    padding: 50px 0;
}

.productos-container h2{
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 70px;
}

.product{
    text-align: center;
}

.product img{
    width: 150px;
    margin-bottom: 15px;
}

.product-txt h3{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 15px;
}

.product-txt p{
    color: #747b8f;
    font-size: 16px;
    margin-bottom: 15px;
}

.precio{
    color: #7270ec !important;
}

.btn-3{
    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    color: #ffffff;
    border: 1px solid #7270ec;
    border-radius: 25px;
    margin-top: 15px;
}

.btn-3:hover{
    background-color: #7270ec;
}

.footer-container{
    display: flex;
    padding: 30px;
}

.link{
    width: 20%;
}

.link h3{
    color: #ffffff;
    margin-bottom: 20px;
}

.link a{
    color: #747b8f;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

.link p{
    color: #747b8f;
    font-size: 16px;
}

@media(max-width:991px){
    .menu-container{
        padding: 20px;
    }
    .menu-container label{
        display: initial;
    }
    .menu-container .nav{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #4e4e4e;
        display: none;
    }
    .menu-container nav ul li{
        width: 100%;
    }
    #menu:checked ~ nav{
        display: initial;
    }
    .logo{
        display: none;
    }
    .sub-menu:hover #carrito{
        min-width: 100%;
    }
    .mySwiper-1{
        width: 300px;
    }
    .swiper-slide{
        padding: 0 30px 50px 30px;
    }
    .header-content{
        padding: 100px 0 50px 0;
    }
    .header-info{
        padding: 0;
        flex-direction: column;
        text-align: center;
    }
    .header-txt{
        width: 100%;
    }
    .header-txt h1{
        font-size: 40px;
    }
    .header-img{
        width: 100%;
    }
    .header-img img{
        width: 200px;
    }
    .prices{
        flex-direction: column;
    }
    .prices-1{
        margin: 0;
    }
    .btn-1{
        margin: 20px 0;
    }
    .promos-container{
        padding: 30px;
    }
    .promos-container h2{
        font-size: 40px;
        margin-bottom: 0;
    }
    .categorias{
        grid-template-columns: repeat(1,1fr);
    }
    .categoria{
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    .categoria-1{
        width: 100%;
        margin-bottom: 25px;
        order: -1;
    }
    .categoria-img{
        width: 100%;
    }
    .productos-container{
        padding: 30px;
    }
    .productos-container h2{
        font-size: 40px;
        margin-bottom: 40px;
    }
    .footer-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .link{
        width: 100%;
    }

}